<form action="/addEntryJudge" method="POST" id="inputForm" class="hidden judgeForm">
    <input type ="hidden" name="entryId" id="secretIdBox">
    <div id="forID">
    </div>
    <div>
        <span>Name:</span>
        <span id="name"></span>
    </div>
    <div id="competition"></div>
    <fieldset id="prizes" class="hidden">
        <div id="warning" class="hidden"></div>
        <div class="checkboxOption">
            <input type="checkbox" id="corrr" name="corrr" onclick="checkCORRR(this)">
            <label for="corrr" id="forCorrr">CORRR</label>
        </div>
        <div class="checkboxOption">
            <input type="checkbox" id="peoplesChoice" name="peoplesChoice" onclick="checkIfTaken(this, 'peoplesChoice')"> 
            <label for="peoplesChoice">People's Choice</label>
        </div>
        <div class="checkboxOption">
            <input type="text" id="sponsors" name="sponsors">
            <label for="sponsors"><span class="lgscreen">Sponsor Prize</span><span class="smscreen">Sponsors</span></label>
        </div>
    </fieldset>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
<div class="entries">
<% for(let i = 0; i < info.length; i++) {%>
    <% let cur = info[i] %>
    <div class="entry" %>" id=<%= cur.id %>>
        <div>
            <p>Number:</p>
            <p>Name:</p>
            <p><%= cur.competition === 0 ? "OOC" : cur.competition == 1 ? "Junior" : cur.competition == 2 ? "Standard" : cur.competition == 3 ? "Masters" : "Invalid category" %></p>
        </div>
        <div>
            <p><%= cur.id %></p>
            <p><%= cur.fullName ? cur.fullName : "Empty entry!" %></p>
            <% let names = {corrr: 'CORRR', peoplesChoice: "People's Choice"} %>
            <p><%= Object.keys(names).filter(e => cur.prizes[e]).map(e => names[e]).concat(cur.prizes.sponsors).join(', ') %></p>
        </div>
    </div>
<% } %>
</div>