

<h1>FMS Results - Masters</h1>
    <% for (let thing of ["Commended", "Bronze", "Silver", "Gold"]) { %> 
        <h3><%= thing %></h3>
        <div class="entries noborder">
            <%  for (let entry of info.filter(e => e.prizes.medal && e.prizes.medal == thing.toLowerCase())) {%>
                <div class="entry noborder" id=<%= entry.id %>>
                    <div>
                        <p class="savespace"><%= entry.fullName %></p>
                    </div>
                </div>                  
            <% } %>
        </div>
    <% } %>
    <h3>CORRR</h3>
    <div class="entries noborder">
        <%  for (let entry of info.filter(e => e.prizes.corrr)) {%>
            <div class="entry noborder" id=<%= entry.id %>>
                <div>
                    <p class="savespace"><%= entry.fullName %></p>
                </div>
            </div>                  
        <% } %>
    </div>
    <h3>Best of Show</h3>
    <div class="entries noborder">
        <%  for (let entry of info.filter(e => e.prizes.mastersBestOfShow)) {%>
            <div class="entry noborder" id=<%= entry.id %>>
                <div>
                    <p class="savespace"><%= entry.fullName %></p>
                </div>
            </div>                  
        <% } %>
    </div>

