
<h1>FMS Results - Standard</h1>
<h2>Sponsored Prizes</h2>
    <% for (let thing of Array.from(new Set(info.reduce((acc, cur) => acc.concat(cur.prizes.sponsors), [])))) { %> 
        <h3><%= thing %></h3>
        <div class="entries noborder">
            <%  for (let entry of info.filter(e => e.prizes.sponsors.length && e.prizes.sponsors.includes(thing))) {%>
                <div class="entry noborder" id=<%= entry.id %>>
                    <div>
                        <p><%= entry.fullName %></p>
                    </div>
                </div>                  
            <% } %>
        </div>
    <% } %>
<h2>Juniors</h2>
    <% for (let thing of ["Commended", "Bronze", "Silver", "Gold"]) { %> 
        <h3><%= thing %></h3>
        <div class="entries noborder">
            <%  for (let entry of info.filter(e => e.competition === 1 && e.prizes.medal && e.prizes.medal == thing.toLowerCase())) {%>
                <div class="entry noborder" id=<%= entry.id %>>
                    <div>
                        <p><%= entry.fullName %></p>
                    </div>
                </div>                  
            <% } %>
        </div>
    <% } %>
    <h3>Junior Best of Show</h3>
    <div class="entries noborder">
        <%  for (let entry of info.filter(e => e.prizes.junBestOfShow)) {%>
            <div class="entry noborder" id=<%= entry.id %>>
                <div>
                    <p><%= entry.fullName %></p>
                </div>
            </div>                  
        <% } %>
<h2>Standard</h2>
    <% for (let thing of ["Commended", "Bronze", "Silver", "Gold"]) { %> 
        <h3><%= thing %></h3>
        <div class="entries noborder">
            <%  for (let entry of info.filter(e => e.competition === 2 && e.prizes.medal && e.prizes.medal == thing.toLowerCase())) {%>
                <div class="entry noborder" id=<%= entry.id %>>
                    <div>
                        <p><%= entry.fullName %></p>
                    </div>
                </div>                  
            <% } %>
        </div>
    <% } %>
    <h3>Standard Best of Show</h3>
    <div class="entries noborder">
        <%  for (let entry of info.filter(e => e.prizes.standardBestOfShow)) {%>
            <div class="entry noborder" id=<%= entry.id %>>
                <div>
                    <p><%= entry.fullName %></p>
                </div>
            </div>                  
        <% } %>
    </div>

    <h3>CORRR</h3>
    <div class="entries noborder">
        <%  for (let entry of info.filter(e => e.prizes.corrr)) {%>
            <div class="entry noborder" id=<%= entry.id %>>
                <div>
                    <p><%= entry.fullName %></p>
                </div>
            </div>                  
        <% } %>
    </div>

