<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fen Model Show</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js" defer></script>
</head>

<body>    
    <% if (isAuthenticated) { %>
        <nav class="pageNav">
            <%- include('partials/navAuth.ejs') %>
        </nav>

            <%- include('partials/filterbuttons.ejs') %>
            <% const page = { Special: 'partials/specialPrizes.ejs', Juniors: 'partials/juniorPrizes.ejs', FigStandard: 'partials/standardFigPrizes.ejs', VroomStandard: 'partials/standardVroomPrizes.ejs', FigMasters: 'partials/mastersFigPrizes.ejs', VroomMasters: 'partials/mastersVroomPrizes.ejs'} %>
            <% if (prize && !page[prize]) { %>
                <div>You broke something.</div>
            <% } else if (page[prize] && prize) { %>
                 <%- include(page[prize]) %>
            <% } %>
    <% } else { %>
        <nav class="pageNav">
            <%- include('partials/navNoAuth.ejs') %>
        </nav>
        <%- include('partials/error.ejs') %>
    <% } %>
</body>