<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fen Model Show</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js" defer></script>
    <script src="js/filters.js" defer></script>
</head>

<body>    
    <% if (isAuthenticated) { %>
        <nav class="pageNav">
            <%- include('partials/navAuth.ejs') %>
        </nav>

        <h1>Miniatures Show Results</h1>
            <%- include('partials/filterbuttons.ejs') %>
            <h2>In Competition</h2>
                <h3>Juniors</h3>
                    <div class="entries">
                        <%  let infoJuniorsInComp = info.filter(e => e.junior && e.inCompetition)
                        for (let i = 0; i < infoJuniorsInComp.length; i++) {%>
                            <div class="entry" id=<%= infoJuniorsInComp[i].id %>>
                                <div>
                                    <p>Number:</p>
                                    <p>Name:</p>
                                </div>
                                <div>
                                    <p><%= infoJuniorsInComp[i].id %></p>
                                    <p><%= infoJuniorsInComp[i].fullName %></p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <h3>Adults</h3>
                    <div class="entries">
                    <%  let infoAdultsInComp = info.filter(e => !e.junior && e.inCompetition)
                    for (let i = 0; i < infoAdultsInComp.length; i++) {%>
                        <div class="entry" id=<%= infoAdultsInComp[i].id %>>
                            <div>
                                <p>Number:</p>
                                <p>Name:</p>
                            </div>
                            <div>
                                <p><%= infoAdultsInComp[i].id %></p>
                                <p><%= infoAdultsInComp[i].fullName %></p>
                            </div>
                        </div>
                    <% } %>
                    </div>
                    </div>
            <h2>Not in Competition</h2>
                <h3>Juniors</h3>
                <div class="entries">
                    <%  let infoJuniors = info.filter(e => e.junior && !e.inCompetition)
                    for (let i = 0; i < infoJuniors.length; i++) {%>
                        <div class="entry" id=<%= infoJuniors[i].id %>>
                            <div>
                                <p>Number:</p>
                                <p>Name:</p>
                            </div>
                            <div>
                                <p><%= infoJuniors[i].id %></p>
                                <p><%= infoJuniors[i].fullName %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
                <h3>Adults</h3>
                <div class="entries">
                <%  let infoAdults = info.filter(e => !e.junior && !e.inCompetition)
                for (let i = 0; i < infoAdults.length; i++) {%>
                    <div class="entry" id=<%= infoAdults[i].id %>>
                        <div>
                            <p>Number:</p>
                            <p>Name:</p>
                        </div>
                        <div>
                            <p><%= infoAdults[i].id %></p>
                            <p><%= infoAdults[i].fullName %></p>
                        </div>
                    </div>
                <% } %>
                </div>
                </div>              

    <% } else { %>
        <nav class="pageNav">
            <%- include('partials/navNoAuth.ejs') %>
        </nav>
        <%- include('partials/error.ejs') %>
    <% } %>

</body>