<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fen Model Show</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js" defer></script>
</head>

<body>    
    <% if (isAuthenticated) { %>
        <nav class="pageNav">
            <%- include('partials/navAuth.ejs') %>
        </nav>

            <%- include('partials/filterbuttons.ejs') %>
            <% if (prize && prize === "standard") { %>
                <%- include('partials/standardPrizes.ejs') %>
            <% } else if (prize && prize === "masters") { %>
                <%- include('partials/mastersPrizes.ejs') %>
            <% } %>
    <% } else { %>
        <nav class="pageNav">
            <%- include('partials/navNoAuth.ejs') %>
        </nav>
        <%- include('partials/error.ejs') %>
    <% } %>
</body>