<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fen Model Show</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js" defer></script>
    <script src="js/judging.js" defer></script>
</head>

<body>
    <% if (isAuthenticated) { %>
        <nav class="pageNav">
            <%- include('partials/navAuth.ejs') %>
        </nav>

        <div class="filterbuttons">
            <div class="iHateCSS">
                <a href="/judgingJuniors"><p id="judgingFigJuniors" class="filterbutton big">Juniors</p></a>
                <a href="/judgingFigStandard"><p id="judgingFigStandard" class="filterbutton big">Standard Figures</p></a>
                <a href="/judgingVroomStandard"><p id="judgingVroomStandard" class="filterbutton big">Standard Vehicles</p></a>
                <a href="/judgingFigMasters"><p id="judgingFigMasters" class="filterbutton big">Masters Figures</p></a>
                <a href="/judgingVroomMasters"><p id="judgingVroomMasters" class="filterbutton big">Masters Vehicles</p></a>
                <a href="/judgingOther"><p id="judgingOther" class="filterbutton big">Special Prizes</p></a>
            </div>
            <div class="iHateCSS">
                    <label for="searchBox"><span>Search:</span></label>
                    <input type="text" id="searchBox" name="searchBox">
            </div>
        </div>
        <% if(category == "Juniors") { %>
            <%- include('partials/judgingJuniors.ejs') %>
        <% } else if(category == "Figures Standard") { %>
            <%- include('partials/judgingFigStandard.ejs') %>
        <% } else if (category == "Figures Masters") { %> 
            <%- include('partials/judgingFigMasters.ejs') %>
        <% } else if (category == "Vehicles Standard") { %> 
            <%- include('partials/judgingVroomStandard.ejs') %>
        <% } else if (category == "Vehicles Masters") { %> 
            <%- include('partials/judgingVroomMasters.ejs') %>
        <% } else if (category == "Other") { %>
            <%- include('partials/judgingOther.ejs') %>
        <% }%>
    <% } if (!isAuthenticated) { %>
        <nav class="pageNav">
            <%- include('partials/navNoAuth.ejs') %>
        </nav>
        <%- include('partials/error.ejs') %>
    <% } %>
</body>