<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fen Model Show</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js" defer></script>
    <script src="js/judging.js" defer></script>
</head>

<body>
    <% if (isAuthenticated) { %>
        <nav class="pageNav">
            <%- include('partials/navAuth.ejs') %>
        </nav>

        <div class="filterbuttons">
            <div class="iHateCSS">
                <a href="/judgingStandard"><p id="judgingStandard" class="filterbutton big">Standard</p></a>
                <a href="/judgingMasters"><p id="judgingMasters" class="filterbutton big">Masters</p></a>
                <a href="/judgingOther"><p id="judgingOther" class="filterbutton big">Other Prizes</p></a>
            </div>
        </div>
        <% if(category == "Standard") { %>
            <%- include('partials/judgingStandard.ejs') %>
        <% } else if (category == "Masters") { %> 
            <%- include('partials/judgingMasters.ejs') %>
        <% } else if (category == "Other") { %>
            <%- include('partials/judgingOther.ejs') %>
        <% }%>
    <% } if (!isAuthenticated) { %>
        <nav class="pageNav">
            <%- include('partials/navNoAuth.ejs') %>
        </nav>
        <%- include('partials/error.ejs') %>
    <% } %>
</body>