<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fen Model Show</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js" defer></script>
</head>

<body>
<% if (isAuthenticated) { %>
    <nav class="pageNav">
        <%- include('partials/navAuth.ejs') %>
    </nav>
    <h1>Register entrants</h1>
    <div class="buttonsGoHere">
        <span id="addButton" class="regButtons">Add Entry</span>
        <span id="editEntries" class="regButtons">Edit</span>
    </div>
    <form action="/addEntryReg" method="POST" id="inputForm" class="hidden">
        <div>
            <label for="name">Name&nbsp;&nbsp;&nbsp;</label>
            <input type="text" placeholder="Full name" name="name" id="name" required="required">
        </div>
        <div>
            <label for="numOfModels">Models</label>
            <input type="number" placeholder="1" name="numOfModels" id="numOfModels" required="required" min="1">
        </div>
        <div>
            <input type="radio" id="outOfComp" name="competition" value=0 required>
            <label for="outOfComp">Out of competition</label>
            <input type="radio" id="junior" name="competition" value=1 required>
            <label for="junior">Junior</label>
            <input type="radio" id="standardFig" name="competition" value=2 required>
            <label for="standard">Figures (Standard)</label>
            <input type="radio" id="mastersFig" name="competition" value=3 required>
            <label for="standard">Figures (Masters)</label>
            <input type="radio" id="standardVroom" name="competition" value=4 required>
            <label for="standard">Vehicles (Standard)</label>
            <input type="radio" id="mastersVroom" name="competition" value=5 required>
            <label for="masters">Vehicles (Masters)</label>
        </div>
        <div id="isJudged" class="hidden">
            <input type="radio" id="notJudged" name="judged" value=0>
            <label for="notJudged">Not judged</label>
            <input type="radio" id="firstPass" name="judged" value=1>
            <label for="firstPass">First Pass</label>
            <input type="radio" id="yesJudged" name="judged" value=2>
            <label for="yesJudged">Judged</label>
        </div>
        <div>
            <input type="submit" value="Submit" id="submit">
            <a href="/registration"><span class="cancel">Cancel</span></a>
        </div>
    </form>
    <% if (lastPainter) { %>
        <div id="painterIdInfo" >
            <p><%= lastPainter.name %> has received the ID number <span id="idNumber"><%= lastPainter.id %></span></p>
         </div>
    <% } %>
    <div class="entries">
        <% for(let i = 0; i < info.length; i++) {%>
            <% let cur = info[i] %>
            <div class="entry" id=<%= cur.id %>>
                <div>
                    <p>Number:</p>
                    <p>Name:</p>
                    <p><%= cur.competition === 0 ? "OOC" : cur.competition == 1 ? "Junior" : cur.competition == 2 ? "Figures Standard" : cur.competition == 3 ? "Figures Masters" :
                         cur.competition == 4 ? "Vehicles Standard": cur.competition == 5 ? "Vehicles Masters" : "Invalid category" %></p>
                </div>
                <div>
                    <p><%= cur.id %></p>
                    <p><%= cur.fullName %></p>
                    <p>&nbsp;</p>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
    <nav class="pageNav">
        <%- include('partials/navNoAuth.ejs') %>
    </nav>
    <%- include('partials/error.ejs') %>
<% } %>
</body>